{
  "plugins": [
    "mocha"
  ],
  "extends": "airbnb",
  "rules": {
    "indent": [2, "tab"],
    "no-tabs": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "no-console": 0,
    "comma-dangle": [2, "never"],
    "semi": ["error", "never"]
  },
  "globals": {
    "atom": true,
    "describe": true,
    "it": true,
    "context": true
  }
}
